---
import Layout from '../layouts/Layout.astro';
import { LoginForm } from '../components/LoginForm';
---

<Layout title="Login">
  <div class="auth-container">
    <LoginForm client:load />
  </div>
</Layout>