---
import { PlatformSelector } from '../components/PlatformSelector';
import '../components/SelectDestination.css';
import Layout from '../layouts/Layout.astro';

interface Props {
  currentStep?: number;
  totalSteps?: number;
}

const { currentStep = 3, totalSteps = 4 } = Astro.props;
---

<Layout title="Select Destination">
  <header>
    <div class="step-indicator">
      <a href="/load-playlist" class="back-button">
        <i class="fas fa-chevron-left"></i>
      </a>
      <span>STEP {currentStep}/{totalSteps}</span>
    </div>
  </header>

  <PlatformSelector client:only />
</div>