---
import Layout from '../layouts/Layout.astro';
import { SignupForm } from '../components/SignupForm';
---

<Layout title="Sign Up">
	<div class="auth-container">
		<SignupForm client:load />
	</div>
</Layout>